//theme
@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primeicons/primeicons.css';

$primary-color: #783d06;
$header-height: 72px;

* {
  box-sizing: border-box;
}

.header {
  background: var(--outline, $primary-color);
  height: $header-height;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family:
    PingFang TC,
    黑體-繁,
    Heiti TC,
    蘋果儷中黑,
    Apple LiGothic Medium,
    微軟正黑體,
    Microsoft JhengHei,
    sans-serif !important;
}

input::placeholder {
  font-family:
    PingFang TC,
    黑體-繁,
    Heiti TC,
    蘋果儷中黑,
    Apple LiGothic Medium,
    微軟正黑體,
    Microsoft JhengHei,
    sans-serif !important;
  opacity: 1;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root,
body,
html {
  // height: 100%;
  background: white;
}

// * {
//   outline: 1px solid red;
// }
@media screen and (min-width: 720px) {
  .desktop-hide {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .mobile-hide {
    display: none;
  }

  .result__container {
    height: calc(100vh - 72px);
    overflow: scroll;
  }

  .map__container {
    height: 40vh;
    .leaflet-container {
      display: none;
      height: 40vh;
      width: 100%;
    }
  }
}

.leaflet-popup-content-wrapper {
  min-width: 200px;
}

.leaflet-container {
  height: calc(100vh - 1rem);
  width: 100%;
}

.loading__overlay {
  position: fixed;
  z-index: 999;
  top: 0px;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;

  .spinner-grow {
    width: 3rem;
    height: 3rem;
  }
}

button {
  border: none;
  outline: none;
  appearance: none;
}

.border-none {
  border: none;
}
