@import 'primereact/resources/themes/bootstrap4-dark-blue/theme.css';
@import 'primeicons/primeicons.css';

:root {
  --primary-color: #783d06;
  --header-height: 48px;
}

* {
  box-sizing: border-box;
}

.header {
  background: var(--outline, var(--primary-color));
  height: var(--header-height);
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family:
    PingFang TC,
    黑體-繁,
    Heiti TC,
    蘋果儷中黑,
    Apple LiGothic Medium,
    微軟正黑體,
    Microsoft JhengHei,
    sans-serif !important;
}

input::placeholder {
  font-family:
    PingFang TC,
    黑體-繁,
    Heiti TC,
    蘋果儷中黑,
    Apple LiGothic Medium,
    微軟正黑體,
    Microsoft JhengHei,
    sans-serif !important;
  opacity: 1;
}

body {
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root,
body,
html {
  /* height: 100%; */
  background: white;
}


@media screen and (min-width: 720px) {
  .desktop-hide {
    display: none !important;
  }
}

@media screen and (max-width: 720px) {
  .mobile-hide {
    display: none !important;
  }

    .result__container {
    height: calc(100vh - var(--header-height));
    overflow: scroll;
  }

  .map__container {
    height: 40vh;
    .leaflet-container {
      display: none;
      height: 40vh;
      width: 100%;
    }
  }
}

.leaflet-popup-content-wrapper {
  min-width: 440px;
}

.leaflet-container {
  width: 100%;
}

@media screen and (min-width: 721px) {
  .map-mode.container-fluid {
    .row {
      width: 100vw;
      max-width: 100vw;
      overflow: hidden;
      margin: 0 !important;
    }

    .col-md-4 {
      width: 480px !important;
    }

    .col-md-8 {
      width: calc(100vw - 480px) !important;
    }

    .result__container,
    .leaflet-container {
      height: calc(100vh - var(--header-height));
      overflow: hidden;
    }
  }
}

.loading__overlay {
  position: fixed;
  z-index: 999;
  top: 0px;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;

  .spinner-grow {
    width: 3rem;
    height: 3rem;
  }
}

button {
  border: none;
  outline: none;
  appearance: none;
}

.border-none {
  border: none;
}

@media screen and (max-width: 768px) {
  .carousel-inner .carousel-item img {
    height: 10rem;
  }
}
