/* menu css hamberger*/
#menu-button {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 501;
  border: 2px solid #29252f;
  background: #29252f;
  padding: 9px;
  transition: background 750ms ease-in-out;
  border-radius: 3px 0 0 3px;
  user-select: none;
  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

.menu-open {
  #menu-button {
    left: 210px;
    background: rgba(41, 37, 47, 0);
    border: 0 solid rgba(41, 37, 47, 0);
    z-index: 501;
  }

  input {
    pointer-events: none;
  }

  .hamburger {
    transform: rotateY(-180deg);

    &:after,
    &:before,
    .inner {
      background: #29252f;
    }

    &:before {
      transform: translate3d(-4px, 1px, 0) rotateZ(-45deg);
    }

    .inner {
      transform: rotateY(-90deg);
      transition: transform 375ms, background-color 750ms ease-in-out;
    }

    &:after {
      transform: translate3d(-4px, -1px, 0) rotateZ(45deg);
    }
  }
}

.menu-open nav {
  animation-duration: 1s;
  animation-name: wind;
  animation-iteration-count: 0;
}

.menu-open nav::before {
  transform: none;
  transition-delay: 0;
  box-shadow: 10px 10px 5px #888888;
}

.menu-open nav li {
  opacity: 1;
  transform: none;
}

.menu-open nav ul {
  height: auto;
  left: auto;
}

.hamburger {
  z-index: 501;
  position: relative;
  width: 25px;
  height: 20px;
  transition: transform 750ms ease-in-out;
}

.hamburger::after,
.hamburger::before,
.hamburger .inner {
  content: '';
  position: absolute;
  width: 25px;
  height: 2px;
  background: #ccc;
  transform-origin: 100% 50%;
  transition: all 750ms ease-in-out;
}

.hamburger::before {
  top: 1px;
  left: 0px;
}

.hamburger::after {
  top: 19px;
  left: 0px;
}

.hamburger .inner {
  top: 10px;
  transform-origin: 50% 50%;
}
