.search-container {
  font: bold 14px 'Microsoft JhengHei', 'trebuchet MS', 'Tahoma';
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 499;
  // width: calc(100% - 160px);

  input {
    font: 20px;
    z-index: 9;
    padding-left: 50px;
    height: 42px;
    float: left;
    outline: 0;
    pointer-events: auto;
    border: 2px solid #29252f;
    border-radius: 5px;

    @media screen and (min-width: 720px) {
      /* 如果使用者之視窗寬度大於 768px 載入這裡的 CSS。  */
      width: 360px;
    }

    @media screen and (max-width: 719px) {
      /*  如果使用者之裝置寬度 <= 768px，將會再載入這裡的 CSS。  */
      width: calc(100vw - 35px);
    }
  }
}

.search-container input::-ms-clear {
  display: none;
}

.btn {
  position: absolute;
  cursor: pointer;
}

.search__button {
  z-index: 11;
  left: 320px;
  top: 5px;
  border: 0;
  padding: 5px 0;
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 0 3px 3px 0;
  pointer-events: auto;

  svg {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
  }

  #circle,
  #line {
    stroke: #29252f;
    fill: rgba(255, 255, 255, 0);
    stroke-width: 10;
    stroke-linecap: round;
  }

  #line {
    stroke-dashoffset: -40;
    stroke-dasharray: 30, 100;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
  }

  @media screen and (max-width: 720px) {
    /* 小於 767px */
    // display: none;
    left: initial;
    right: 20px;
  }
}

.card {
  cursor: pointer !important;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #cacaca;

  &:hover {
    background-color: #eeeeee;
  }

  h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #26393d;
    letter-spacing: 0;
  }

  ul {
    list-style: none;
    padding: 0px;

    li {
      color: black;
    }
  }

  ol {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;

    li {
      padding: 2px 5px;
      font-size: 12px;
      color: #75868a;
      letter-spacing: 0;
      line-height: 12px;
      border: 1px solid #75868a;
      border-radius: 2px;
      display: inline-block;
    }
  }
}

@media screen and (max-width: 720px) {
  .card {
    font-size: 12px;
    h4 {
      font-size: 16px;
    }
  }
}

.search__result {
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  font-size: 90%;
  position: absolute;
  overflow: auto;
  max-height: calc(100vh - 65px - 1rem);
  top: 65px;
  z-index: 999;
  width: 375px;

  @media screen and (max-width: 720px) {
    z-index: 499;
    width: calc(100vw - 1.5rem);
    transform: none;
    max-height: 45vh;
  }
}

.search__result::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eeeeee;
}

.search__result::-webkit-scrollbar {
  width: 6px;
  background-color: #eeeeee;
}

.search__result::-webkit-scrollbar-thumb {
  background-color: #4c6267;
}
