$header-height: 72px;

.search-container {
  position: absolute;
  top: calc(24px + $header-height);
  z-index: 499;
  right: 40px;

  input {
    font: 20px;
    z-index: 9;
    // padding-left: 50px;
    width: 240px;
    height: 48px;
    padding: 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 104px;
    border: 0px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    outline: 0;
    pointer-events: auto;
  }

  @media screen and (max-width: 719px) {
    /*  如果使用者之裝置寬度 <= 768px，將會再載入這裡的 CSS。  */
    display: none;
  }
}

.search-container input::-ms-clear {
  display: none;
}

.btn {
  position: absolute;
  cursor: pointer;
}

.search__button {
  z-index: 11;
  top: 5px;
  border: 0;
  padding: 5px 0;
  height: 30px;
  width: 30px;
  background: #fff;
  border-radius: 0 3px 3px 0;
  pointer-events: auto;
  transform: translateX(-2.5rem);

  svg {
    position: absolute;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%);
  }

  #circle,
  #line {
    stroke: #29252f;
    fill: rgba(255, 255, 255, 0);
    stroke-width: 10;
    stroke-linecap: round;
  }

  #line {
    stroke-dashoffset: -40;
    stroke-dasharray: 30, 100;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
  }

  @media screen and (max-width: 720px) {
    /* 小於 767px */
    // display: none;
    left: initial;
    right: 20px;
  }
}

.card {
  cursor: pointer !important;
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #cacaca;

  &:hover {
    background-color: #eeeeee;
  }

  .card__title {
    margin-bottom: 16px;
    .h4 {
      color: var(--Black, #2d2d2d);
      font-family: Noto Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 100% */
      text-decoration-line: underline;
    }

    .score {
      color: var(--outline, #783d06);

      /* Noto sans bold 16 */
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px; /* 150% */
      letter-spacing: 0.5px;
      text-decoration-line: none;
    }
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0px;

    li {
      margin-bottom: 16px;
      color: black;
    }
  }

  ol {
    list-style: none;
    padding: 0;
    margin-bottom: 16px;

    li {
      padding: 4px 8px;
      margin-right: 8px;
      margin-bottom: 0;
      font-size: 12px;
      color: #75868a;
      border-radius: 8px;
      background: var(--Light-Brown2, #edd9c6);
      letter-spacing: 0;
      line-height: 12px;
      display: inline-block;
      color: var(--m-3-sys-light-on-surface-variant, var(--grey1, #49454f));
      text-align: center;
      font-family: Noto Sans;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px; /* 175% */
    }
  }
}

@media screen and (max-width: 720px) {
  .card {
    font-size: 12px;
    h4 {
      font-size: 16px;
    }
  }
}

.search__result {
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  font-size: 90%;
  overflow: auto;
  max-height: calc(100vh - 65px - 1rem);
  top: calc($header-height + 8px);

  .tag__container {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 64px;
    padding: 8px 8px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);

    ul {
      overflow: hidden;
    }

    .tag__title {
      @media screen and (max-width: 1200px) {
        display: none;
      }
    }
  }
}

.search__result::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eeeeee;
}

.search__result::-webkit-scrollbar {
  width: 6px;
  background-color: #eeeeee;
}

.search__result::-webkit-scrollbar-thumb {
  background-color: #4c6267;
}
