.CoffeeShopFeature {
  .p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
    color: #a06935;
  }

  .search-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      /*  如果使用者之裝置寬度 <= 768px，將會再載入這裡的 CSS。  */
      flex-direction: column;
    }

    .icon-rating {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      width: calc(50% - 0.5rem);
      margin-right: 0.5rem;

      .pi {
        color: #a06935;
        margin-right: 0.125rem;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 0.25rem;
      }

      .feature-title {
        display: inline-flex;
        min-width: 4.5rem;
      }
    }
  }

  .search-card .rating {
    width: 100px;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0px;

    li {
      margin-bottom: 16px;
      color: black;
    }

    .display-none {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) {
  .list-mode {
    .CoffeeShopFeature {
      display: flex;

      hr {
        display: none;
      }

      .search-card {
        width: 50%;
      }
    }
  }
}
