:root {
  --header-height: 48px;
  --primary-color: #783d06;
}

.search-container {
  input {
    font-size: 14px;
    z-index: 9;
    width: 180px;
    height: 40px;
    padding: 8px 32px;
    justify-content: flex-end;
    border: 0px;
    border-radius: 40px;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
    outline: 0;
    pointer-events: auto;
    color: #000;
  }
}

.search-container--shadow {
  box-shadow: 0px 2px 4px 0px #0000004d;
}

@media screen and (min-width: 768px) {
  .search-container--shadow {
    position: absolute;
    z-index: 2;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .search-container--shadow {
    position: absolute;
    z-index: 2;
    top: 0rem;
    left: auto;
    right: 0.25rem;
    box-shadow: none;
  }
}

.search-container--absolute {
  position: absolute;
  top: calc(8px + var(--header-height));
  z-index: 499;
  left: 8px;
}

@media screen and (max-width: 768px) {
  .search-container--absolute {
    /*  如果使用者之裝置寬度 <= 768px，將會再載入這裡的 CSS。  */
    top: 0.25rem;
    left: auto;
    right: 0.25rem;
  }
}

.search-container input::-ms-clear {
  display: none;
}

.p-input-icon-right > i:last-of-type {
  color: black;
  cursor: pointer;
}

.p-multiselect {
  background: var(--primary-color);
  border: var(--primary-color);
  height: 1.75rem;
}

.p-multiselect .p-multiselect-trigger {
  width: 1.5rem;
}

.p-multiselect-panel,
.p-multiselect-items-wrapper,
.p-multiselect-items {
  padding-left: 0;
  background: var(--primary-color);
  border: var(--primary-color);
  margin-top: 1px;
}

.p-multiselect-items-wrapper {
  border-radius: 1rem;
}

.p-multiselect-label {
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
}

.p-multiselect-items {
  margin-bottom: 0;
  font-size: 0.75rem;

  .p-checkbox-box {
    background: #fff;
  }

  .p-multiselect-item {
    outline: none;
    border: none;
    box-shadow: none;
    padding: 0.25rem 0.5rem;

    .p-checkbox .p-checkbox-box {
      scale: 0.75;
    }
  }

  .p-highlight {
    background: var(--primary-color);
    color: #fff;

    .p-checkbox-box {
      background: #fff;
    }
  }

  .p-highlight .p-multiselect-item {
    background: var(--primary-color);
  }
}

.p-multiselect-header {
  display: none;
}

.p-multiselect .p-multiselect-label {
  color: #fff;
}

.p-dialog-header {
  background: var(--primary-color);
  padding: 0.5rem 1rem;
}

.p-dialog-content {
  padding: 0;
}

.search__button {
  border: none;
  background: #fff;
  border-radius: 0 3px 3px 0;
  pointer-events: auto;
  transform: translateX(-3.5rem);
}

@media screen and (max-width: 720px) {
  .search__button {
    /* 小於 767px */
    left: initial;
    right: 20px;
  }
}

.card {
  cursor: pointer !important;
  background-color: #ffffff;
  border-bottom: 1px solid #cacaca;

  &:hover {
    background-color: #eeeeee;
  }

  .card__title {
    margin-bottom: 16px;

    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      .h4 {
        color: var(--Black, #2d2d2d);
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 100% */
        text-decoration-line: underline;
      }
    }

    .h6 {
      color: var(--Black, #2d2d2d);
      font-style: normal;
      font-weight: 700;
    }

    .score {
      color: var(--outline, var(--primary-color));

      /* Noto sans bold 16 */
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      /* 150% */
      letter-spacing: 0.5px;
      text-decoration-line: none;
    }
  }
}

.leaflet-popup-content-wrapper {
  .card {
    cursor: auto !important;
  }
  .card:hover {
    background: none;
  }
}

@media screen and (max-width: 720px) {
  .card {
    font-size: 12px;

    h4 {
      font-size: 16px;
    }
  }
}

.search__result {
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.9);
  font-size: 90%;
  overflow: auto;
  max-height: calc(100vh - var(--header-height));
  top: calc(var(--header-height) + 8px);
}

.search__result .tag__container {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 56px 8px 8px 0px;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1200px) {
  .search__result .tag__container {
    padding: 8px 8px 8px 0px;
  }
}

.search__result .tag__container .tag__title {
  line-height: 2rem;
}

@media screen and (max-width: 1200px) {
  .search__result .tag__container .tag__title {
    display: none;
  }
}

.search__result::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eeeeee;
}

.search__result::-webkit-scrollbar {
  width: 6px;
  background-color: #eeeeee;
}

.search__result::-webkit-scrollbar-thumb {
  background-color: #4c6267;
}

.map__container .leaflet-div-icon {
  border: none;
  background: none;
  opacity: 0.8 !important;

  .custom-marker {
    display: flex;
    width: 160px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    background: var(--Light-Brown, #cb925d);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.3);
    transform: translateX(-50%);

    span {
      overflow: hidden;
      color: #fff;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 0.8rem;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
  }

  .custom-marker--focus {
    background: var(--outline, var(--primary-color));
  }
}

.list-mode {
  .search__result {
    max-height: none;
    overflow: hidden;
  }

  .card {
    margin-bottom: 1rem;
  }

  .tag__container {
    box-shadow: none;
  }
}
